/node_modules
/public/hot
/public/storage
/public/temp
/storage/*.key
/vendor
/dist
/project_data
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.idea
.DS_Store
/public/css/client/*
/public/css/critical.css
/public/css/main.css
/public/js/*
/config/constants.php
/public/mix-manifest.json
